<div ng-controller = "adminController" class="admin-style">
    <h1 align="center">Registered Users</h1>
    <br>

    <div ng-show="model.alertMessage" class="alert alert-danger" role="alert">{{model.alertMessage}}</div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-head anchor-color">
                <td>Username</td>

                <td>Password</td>

                <td>First Name</td>

                <td>Last Name</td>

                <td>Role</td>

                <td>Action</td>
            </thead>

            <tr class="table-entry">
                <td><input type="text" ng-model="model.username" placeholder="User Name"></td>
                <td><input type="password" ng-model="model.password" placeholder="Password"></td>
                <td><input type="text" ng-model="model.firstName" placeholder="First Name"></td>
                <td><input type="text" ng-model="model.lastName" placeholder="Last Name"></td>
                <td><input type="text" ng-model="model.role" placeholder="Role"></td>

                <td class="text-nowrap"><a ng-click="model.addUser(model.username,model.password,model.firstName,model.lastName,model.role)"><span class="glyphicon glyphicon-plus btn btn-primary"></span></a>
                    <a ng-click="model.updateUser(model.username,model.password,model.firstName,model.lastName,model.role)"><span class="glyphicon glyphicon-ok btn btn-success"></span></a>
                </td>
            </tr>

            <tr ng-repeat="user in model.users | orderBy:sortType:sortReverse" class="table-row">
                <td>{{user.username}}</td>
                <td>&nbsp;</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.role}}</td>
                <td class="text-nowrap"><a ng-click="model.deleteUser($index)"><span class="glyphicon glyphicon-remove btn btn-danger"></span></a>
                                        <a ng-click="model.selectUser($index)"><span class="glyphicon glyphicon-cog btn btn-warning"></span></a>
                </td>
            </tr>

        </table>
    </div>
</div>
