<!DOCTYPE html>
<html>

<body ng-controller="SignUpController">

<div class="signup-main">

    <h2>Sign Up</h2>
    <div ng-show="model.message" class="alert alert-danger width-class" role="alert">{{model.message}}</div>

    <form>

        <div class="lable-2">
            <input type="text" class="text" ng-model="model.user.username" placeholder="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Username ';}">
        </div>

        <div class="lable">
            <div class="col_1_of_2 span_1_of_2"><input order="pwd-style" type="password" ng-model="model.user.password"  placeholder="Password"        onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Password';}"></div>
            <div class="col_1_of_2 span_1_of_2"><input order="pwd-style" type="password" ng-model="model.user.password2" placeholder="Verify Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Last Name';}"></div>
            <div class="clear"> </div>
        </div>

        <div class="lable-2">
            <input type="text" class="text" ng-model="model.user.emails" placeholder="your@email.com " onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'your@email.com ';}">
        </div>
        <div class="clear"> </div>

        <h3>By creating an account, you agree to our <span class="term"><a href="#">Terms & Conditions</a></span></h3>
        <div class="submit">
            <input type="submit" ng-click="model.signUp(model.user)">
        </div>
        <div class="clear"> </div>
    </form>
    <!-----//end-main---->
</div>

</body>
</html>