.text-nowrap{
   white-space: nowrap;
}

select {
    width: 100%;
    padding: 8px 18px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
    background: rgb(240,240,240)  url('../img/background.jpg');
    color: #CCC;
}

.table-head{
font-size: 20px;
}

.table-row{
    font-size: 17px;
}

.table-entry{
    color: black;  !important;
}

.font-color{
    color: #CCC;
}


