.text-nowrap{
   white-space: nowrap; !important;
}

select {
    width: 100%;
    padding: 8px 18px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
    background: rgb(240,240,240)  url('../img/background.jpg');
    color: #CCC;
}

.table-head{
font-size: 20px;
}

.table-row{
    font-size: 17px;
}

.table-entry{
    color: black;  !important;
}

.font-color{
    color: #CCC;
}

@media(min-width:768px) {
    .mobile-check{
        padding-top:40px;
    }
    .mobile-width{
        width: 50%; !important;
    }

}

.modal-color{
    color: black;
}

.field-style{
    padding-right: 50px;
}

.anchor-color{
    color:#40A46F;
}

.pages-style{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
}

.admin-style{
    padding-left: 40px;
    padding-right:40px;
    padding-top: 40px;
}

.details-style{
    padding-left: 25px;
    padding-right:40px;
    padding-top: 30px;
    padding-bottom: 10px;

}

.preview-style{
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left:200px;
    padding-right:200px;
}

.button-close {
    float: right;
    background-color:#40A46F ; !important;
    border-color: #40A46F; !important;
}
.button-close:hover{
    background-color:#40A46F ; !important;
    border-color: #40A46F; !important;
}

@media(max-width:768px) {
    .admin-style {
      padding-top: 80px;
    }

    .details-style{
        padding-left: 20px;
        padding-right:20px;
        padding-top: 80px;
        padding-bottom: 10px;
    }

    .pages-style{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 80px;

    }

    .preview-style{
        padding-top: 90px;
        padding-bottom: 20px;
        padding-left:20px;
        padding-right:20px;
    }

}

.button-style{
    background-color:#40A46F ; !important;
    border-color: #40A46F; !important;
}
.button-style:hover, .button-style:focus{
    background:#07793D;
    border:1px solid #07793D;
}