@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        display: inline;
        width: 100%;
        padding-left: 0%;
        padding-top: 0%;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
