.text-nowrap{
   white-space: nowrap;!important;
}

.element-align{
    line-break: strict;
}

.check-sidebar
{
    display: none;
}

@media (max-width: 768px)
{
    .check-sidebar {
        display: block;
    }
}
