<div ng-controller="PageDetailsController" class="details-style">
    <div class="container-fluid">
        <div class="row">

            <div ng-include="'views/pages/sidebar.html'"></div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 align="center">{{model.page.title}}</h1>

                <a ng-click="model.ShowHide()" class="btn btn-success pull-right button-style">Share</a>


                <a href="#/user/{{currentUser.username}}/page/{{model.page._id}}/preview"
                       class="btn btn-success pull-right button-style">Preview
                    </a>

                <br><br>
                <div ng-hide="model.IsHidden" class="pull-right">http://webdev2016-beeramsravani.rhcloud.com
                                                                        /project/client/index.html#/user/
                                                                        {{currentUser.username}}/page/{{model.page._id}}/share</div>
                <br><br>

                <div class="form">
                    <div ng-model="model.fields" jga-sortable jga-sortable-callback = "model.sortField(start,end)">
                        <div ng-repeat="field in model.fields track by $index">
                            <br>
                                <div ng-switch on="field.type" >
                                    <div ng-switch-when = "HEADER">
                                            <div class="input-group">
                                                <h1 ng-if="field.header.size===1">
                                                    {{field.label}}
                                                </h1>
                                                <h2 ng-if="!field.header.size || widget.header.size===2">
                                                    {{field.label}}
                                                </h2>
                                                <h3 ng-if="field.header.size===3">
                                                    {{field.label}}
                                                </h3>
                                                <h4 ng-if="field.header.size===4">
                                                    {{field.label}}
                                                </h4>
                                                <h5 ng-if="field.header.size===5">
                                                    {{field.label}}
                                                </h5>
                                                <h6 ng-if="field.header.size===6">
                                                    {{field.label}}
                                                </h6>
                                                <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                            </div>

                                    </div>

                                    <div ng-switch-when = "LIST">
                                        <div class="input-group">
                                            <ul class="col-sm-4"><li ng-repeat="item in field.options">{{item.label}}<br></li></ul>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when = "PARAGRAPH">
                                        <div class="input-group">
                                            <p align="justify" class="col-sm-4">{{field.placeholder}}</p>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when = "LABEL">
                                        <div class="input-group">
                                            <label>{{field.label}}</label>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="IMAGE">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <img ng-src="{{field.image.url}}" width="{{field.image.width}}" class="mobile-width"/>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="YOUTUBE">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <iframe ng-src="{{model.safeYouTubeUrl(field)}}"
                                                        width="{{field.youTube.width}}"
                                                        frameborder="0"
                                                        allowfullscreen>
                                            </iframe>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="BUTTON">
                                        <div class="input-group">
                                            <a href="#/user/{{currentUser.username}}/page/{{field.Button.link}}/share" class="btn"
                                               ng-class="model.getButtonClass(field.Button.style)" target="_blank">{{field.label}}</a>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="LINK">
                                        <div class="input-group">
                                            <a href="{{field.link.url}}" target="_blank">{{field.label}}</a>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="HTML">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <div class="table-entry" ng-bind-html="model.trustAsHtml(field.html.text)"></div>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="TEXT">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control table-entry" placeholder="{{field.placeholder}}">
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="TEXTAREA">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <textarea class="form-control table-entry" rows={{field.textArea.rows}} placeholder="{{field.textArea.placeholder}}"></textarea>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="DATE">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <input type="date" class="form-control">
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="OPTIONS">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <select class="table-entry"><option ng-repeat="option in field.options track by $index">{{option.label}}</option></select>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="CHECKBOXES">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <div ng-repeat="option in field.options track by $index"><input type="checkbox" value="{{option.value}}">{{option.label}}</div>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="RADIOS">
                                        <label>{{field.label}}</label>
                                        <div class="input-group">
                                            <div ng-repeat="option in field.options track by $index"><input type="radio" value="{{option.value}}">{{option.label}}</div>
                                            <div class="input-group-btn" ng-include="'views/pages/buttons.view.html'"></div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="editField" class="modal fade" role="dialog">
        <div class="modal-dialog modal-color">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss ="modal">&times;</button>
                    <h4 class="modal-title">{{model.fieldEdit.label}}</h4>
                </div>
                <div class="modal-body">
                    <form>
                       <div ng-switch="model.fieldEdit.type">

                           <div ng-switch-when="HEADER" class="form-group">
                               <label>Label</label>
                               <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                               <label>Size</label>
                               <select ng-model="model.fieldEdit.header.size" class="form-control">
                                   <option>1</option>
                                   <option>2</option>
                                   <option>3</option>
                                   <option>4</option>
                                   <option>5</option>
                                   <option>6</option>
                               </select>
                           </div>

                        <div ng-switch-when="LABEL" class="form-group">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                        </div>

                        <div ng-switch-when="LIST" class="form-group">
                            <label>List Items</label>
                            <textarea ng-model="model.options" class="form-control" placeholder="Edit Options"></textarea>
                        </div>

                        <div ng-switch-when="DATE" class="form-group">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                        </div>

                        <div ng-switch-when="IMAGE" class="form-group">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                            <br>
                            <label>URL</label>
                            <input ng-model="model.image.url" class="form-control"/>
                            <br>
                            <label>Width</label>
                            <input ng-model="model.image.width" class="form-control"/>
                            <br>
                            <label>Upload</label>
                            <form action="/api/user/upload"
                                  method="post"
                                  enctype="multipart/form-data">
                                <input name="pageId" value="{{model.page._id}}" style="display: none"/>
                                <input name="fieldId" value="{{model.fieldEdit._id}}" style="display: none"/>
                                <input name="width" value="{{model.fieldEdit.image.width}}" style="display: none"/>
                                <input  type="file" name="myFile" class="form-control"/>
                                <button type="submit" class="btn btn-block btn-primary">
                                    Upload Image
                                </button>
                            </form>
                        </div>

                        <div ng-switch-when="RADIOS" class="form-group">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                            <br>
                            <label>Radio Options</label>
                            <textarea ng-model="model.options" class="form-control" placeholder="Edit Options"></textarea>
                        </div>

                        <div ng-switch-when="CHECKBOXES" class="form-group">
                           <label>Label</label>
                           <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                            <br>
                           <label>Checkbox Options</label>
                           <textarea ng-model="model.options" class="form-control" placeholder="Edit Options"></textarea>
                        </div>

                        <div ng-switch-when="TEXTAREA" class="form-group">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                            <br>
                            <label>Rows</label>
                            <input ng-model="model.textArea.rows" class="form-control"/>
                            <br>
                            <label>Placeholder</label>
                            <input ng-model="model.textArea.placeholder" class="form-control"/>
                        </div>

                        <div ng-switch-when="TEXT" class="form-group">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                            <br>
                            <label>Placeholder</label>
                            <input ng-model = "model.placeholder" class="form-control" type="text" placeholder="Edit Placeholder">
                        </div>

                        <div ng-switch-when="PARAGRAPH" class="form-group">
                            <label>Paragraph Text</label>
                            <textarea ng-model = "model.placeholder" class="form-control" rows = 5 placeholder="Edit Placeholder"></textarea>
                        </div>

                        <div ng-switch-when="HTML">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                            <br>
                            <label>HTML Code</label>
                            <div text-angular ng-model="model.html.text"></div>
                        </div>

                        <div ng-switch-when="OPTIONS" class="form-group">
                           <label>Label</label>
                           <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                           <br>
                           <label>Dropdown Options</label>
                           <textarea ng-model="model.options" class="form-control" placeholder="Edit Options"></textarea>
                        </div>

                        <div ng-switch-when="BUTTON">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                            <br>
                            <label>Style</label>
                            <select ng-model="model.Button.style" class="form-control">
                                <option>Default</option>
                                <option>Primary</option>
                                <option>Success</option>
                                <option>Info</option>
                                <option>Warning</option>
                                <option>Danger</option>
                            </select>
                            <br>
                            <label>Navigation Page</label>
                            <select ng-options="page as page.title for page in model.pages track by page._id"
                                    ng-model="model.Button.link" class="form-control">
                            </select>
                        </div>

                        <div ng-switch-when="YOUTUBE" class="form-group">
                            <label>Label</label>
                            <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                            <br>
                            <label>URL</label>
                            <input ng-model="model.youTube.url" class="form-control"/>
                            <br>
                            <label>Width</label>
                            <input ng-model="model.youTube.width" class="form-control"/>
                        </div>

                           <div ng-switch-when="LINK" class="form-group">
                               <label>Label</label>
                               <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                               <br>
                               <label>URL</label>
                               <input ng-model = "model.fieldEdit.link.url" class="form-control" type="text" placeholder="Enter Url">
                           </div>

                       </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button ng-click="model.commitEdit()" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>

