
<body>

<!-- Navigation -->

<div class="home-styling">
    <div id = "myCarousel" class = "carousel slide">

        <!-- Carousel indicators
        <ol class = "carousel-indicators">
            <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
            <li data-target = "#myCarousel" data-slide-to = "1"></li>
            <li data-target = "#myCarousel" data-slide-to = "2"></li>
        </ol>-->

        <!-- Carousel items -->
        <div class = "carousel-inner">
            <div class = "item active image-styling">
                <img src = "img/2.jpg" alt = "First slide">
            </div>

            <div class = "item image-styling">
                <img src = "img/1.jpg" alt = "Second slide">
            </div>

            <div class = "item image-styling">
                <img src = "img/5.jpg" alt = "Third slide">
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12 ">
            <h1 class="page-header">
                Welcome to Webpage Editor
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-edit"></i>Web Designer</h4>
                </div>
                <div class="panel-body">
                    <p class="table-entry">Create Mockups,Web pages and Web apps easily.You can create multiple web pages and also navigate between different pages.Upload images and youtube videos.
                        Editor to upload HTML code on your pages.And it's Mobile Friendly!!!!</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Easy to Use</h4>
                </div>
                <div class="panel-body">
                    <p class="table-entry">Very easy to create and edit your webpages.Click on the widget you would like to embed in your webpage and edit it accordingly.Doesn't like it? No problem!!
                        you can delete it.You can also change the order of your widgets by just dragging them.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-eye"></i>Preview and Share</h4>
                </div>
                <div class="panel-body">
                    <p class="table-entry">As soon as you add or edit a widget, see result instantly.You can preview your web page to check the outcome of your webpage.
                        You can also share your webpage.Clicking on share generates a URL which allows anyone to see your webpage.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>

<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
</script>
</body>

