<html>
<body>
    <ul class="nav nav-sidebar" ng-controller="SidebarController">
        <li ng-class="{'active': $location.url() == '/home'}"><a href="#/home">Home</a></li>

        <li ng-class="{'active': $location.url() == '/users'}"><a href="#/users">Users</a></li>

        <li ng-class="{'active': $location.url() == '/pages'}"><a href="#/pages">Pages</a></li>

        <li ng-class="{'active': $location.url() == '/pageDetails'}"><a href="#/pageDetails">Page Details</a></li>

    </ul>
</body>
</html>